$light-theme: (
  background-color: #fff,
  text-color: #000,
  border-color: #ccc,
  active-color: blue,
);

$dark-theme: (
  background-color: #000,
  text-color: #fff,
  border-color: #ccc,
  active-color: red,
);

$mq-tablet: 768px;
$mq-desktop: 1200px;
