$light-theme: (
  background-color: Linen,
  text-color: Black,
  border-color: BurlyWood,
  active-color: Crimson,
);

$dark-theme: (
  background-color: MidnightBlue,
  text-color: Ivory,
  border-color: LightCoral,
  active-color: HotPink,
);

$mq-tablet: 768px;
$mq-desktop: 1200px;
