@use '@/styles/themes';

.player {
  display: flex;
  align-items: center;
  min-height: 30px;
}

.player__button {
  border: 0 solid transparent;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-size: 1.5rem;
  line-height: 1;
}

.player__visualization {
  margin-left: 16px;
}
